*{
    background-color: bisque ;
    box-sizing: border-box;
}
.MiPoke{
    text-transform: uppercase;
    color: black;
    font-size: 1.6rem;
}
.BulbasaurT{
    text-transform: uppercase;
    color: black;
    font-size: 1.0rem;
}
.TextBulbasaur{
    text-transform: uppercase;
    color: blue;
    font-size: 1.0rem;
}
.Return{
    text-transform: uppercase;
    background-color: black;
    width: 10px;
    height: 10px;
    color: white;
    font-size: 1.6rem;
}
.Bul{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.Planta{
    text-transform: uppercase;
    background-color: rgb(116, 240, 116);
    width: 40%;
    height: 20%;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}
.Veneno{
    text-transform: uppercase;
    background-color: blueviolet;
    width: 40%;
    height: 20%;
    color: white;
    text-align: center;
    font-size: 1.2rem; 
}
.Fuego{
    text-transform: uppercase;
    background-color: orangered;
    width: 40%;
    height: 20%;
    color: white;
    text-align: center;
    font-size: 1.2rem; 
}
.Psiquico{
    text-transform: uppercase;
    background-color: crimson;
    width: 40%;
    height: 20%;
    color: white;
    text-align: center;
    font-size: 1.2rem; 
}
.Volador{
    text-transform: uppercase;
    background-color: grey;
    width: 40%;
    height: 20%;
    color: white;
    text-align: center;
    font-size: 1.2rem; 
}
.Hielo{
    text-transform: uppercase;
    background-color: aqua;
    width: 40%;
    height: 20%;
    color: white;
    text-align: center;
    font-size: 1.2rem; 
}
.CharmanderT{
    text-transform: uppercase;
    color: black;
    font-size: 1.0rem;
}
.Agua{
    text-transform: uppercase;
    background-color: blue;
    width: 40%;
    height: 20%;
    color: white;
    text-align: center;
    font-size: 1.2rem; 
}
.Tierra{
    text-transform: uppercase;
    background-color: goldenrod;
    width: 40%;
    height: 20%;
    color: white;
    text-align: center;
    font-size: 1.2rem; 
}
.Roca{
    text-transform: uppercase;
    background-color: chocolate;
    width: 40%;
    height: 20%;
    color: white;
    text-align: center;
    font-size: 1.2rem; 
}
.Normal{
    text-transform: uppercase;
    background-color: gray;
    width: 40%;
    height: 20%;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}
.Lucha{
    text-transform: uppercase;
    background-color: coral;
    width: 40%;
    height: 20%;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}
.Electrico{
    text-transform: uppercase;
    background-color: gold;
    width: 40%;
    height: 20%;
    color: white;
    text-align: center;
    font-size: 1.2rem;     
}
.Hada{
    text-transform: uppercase;
    background-color:hotpink;
    width: 40%;
    height: 20%;
    color: white;
    text-align: center;
    font-size: 1.2rem;  
}
.Acero{
    text-transform: uppercase;
    background-color:grey;
    width: 40%;
    height: 20%;
    color: white;
    text-align: center;
    font-size: 1.2rem;  
}
.PokemonsE{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.Lista{
    background-color: brown;
    color: white;
}
.Menu{
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: red;
    color: white;
    font-size: 1.6rem;  
}
.Teorico{
    text-transform: uppercase;
    color: black;
    font-size: 1.5rem;
}
.Center{
    display: flex;
    justify-content:space-between;
    object-fit: scale-down;
    width: 500px;
    height: 500px;
}
.Entren{
    display: flex;
    flex-direction: column;
    object-fit: scale-down;
}
.TextTeorico{
    text-transform: uppercase;
    color: blue;
    font-size: 1.6rem;
}